<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    AdmFacil
                </a>
            </li>
            <li>
                <%= link_to 'Clientes', clientes_path %>
            </li>
            <li>
                <%= link_to 'Funcionarios', funcionarios_path %>
            </li>
            <li>
                <%= link_to 'Fornecedores', fornecedores_path %>
            </li>
             <li>
                <%= link_to 'Pedidos', pedidos_path %>
            </li>
            <li>
                <%= link_to 'Orçamentos', orcamentos_path %>
            </li>
            <li>
                <%= link_to 'Produtos', produtos_path %>
            </li>
              <li>
                <%= link_to 'Despesas', despesas_path %>
            </li>
            <li>
                <%= link_to 'Registrar Ponto', pontos_registro_path %>
            </li>
            <li>
                <%= link_to('Sair', destroy_usuario_session_path, method: :delete) %>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

     <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <% flash.each do |name, msg| %>
                <% if msg.is_a?(String) %>
                    <div class="alert alert-<%= name.to_s == 'success' ? 'success' : 'danger' %>">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    </div>
                <% end %>
            <% end %>
            <%= yield %>
        </div>
    </div>
</div>
