<div id="wrapper">
  <header class="main-header">
      <!-- Logo -->
      <div class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>DM</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Alpha</b>ADM</span>
      </div>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning"><%= Notificacao.nao_visualizado.count %></span>
              </a>
              <ul class="dropdown-menu">
                <% if Notificacao.nao_visualizado.count > 0 %>
                  <li class="header">Você tem <%= Notificacao.nao_visualizado.count %> notificações</li>
                    <!-- inner menu: contains the actual data -->
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                      <% Notificacao.nao_visualizado.includes(:produto).limit(5).each do |notificacao|%>
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-aqua"></i>
                              <a href="/produtos/<%= notificacao.produto_id%>"><%= notificacao.produto.nome%> está no nivel de alerta </a>
                          </a>
                        </li>
                      <% end %>
                    </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.122px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                  </li>
                  <li class="footer"><a href="#">Ver Todas Notificações</a></li>
                <% else %>
                   <li class="header">Não a notificações</li>
                <% end %>
                <li>
              </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span><%= current_usuario.funcionario.pessoa.specific.nome rescue 'Admin'%>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <p>
                    <%= current_usuario.funcionario.pessoa.specific.nome rescue 'Admin'%> - <%= current_usuario.funcionario.cargo.descricao rescue ''%>
                    <small><%= Date.current%></small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="/admin" class="btn btn-default btn-flat">Admin</a>
                    <%= link_to 'alterar senha', edit_usuario_registration_path, class:"btn btn-default btn-flat" %>
                  </div>
                  <div class="pull-right">
                    <%= link_to('Sair', destroy_usuario_session_path, method: :delete, class: "btn btn-default btn-flat") %>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
  </header>

   <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <% if current_usuario.admin? %>
          <li class="header">ADMINISTRATIVO</li>
            <li>
              <a href="/financeiro">
                <i class="fa fa-edit"></i>
                <span>Financeiro</span>
              </a>
            </li>
        <% end %>
        <li class="header">NOVO</li>
         <li>
          <a href=<%=new_pedido_path%>>
            <i class="fa fa-edit"></i>
            <span>Pedido</span>
          </a>
        </li>
         <li>
          <a href=<%=new_orcamento_path%>>
            <i class="fa fa-edit"></i>
            <span>Orçamento</span>
          </a>
        </li>
        <li class="header">INFORMAÇÕES</li>
        <li>
          <a href=<%=clientes_path%>>
            <i class="fa fa-edit"></i>
            <span>Clientes</span>
          </a>
        </li>
        <li>
          <a href=<%=pedidos_path%>>
            <i class="fa fa-edit"></i>
            <span>Pedidos</span>
          </a>
        </li>
        <li>
          <a href=<%=orcamentos_path%>>
            <i class="fa fa-edit"></i>
            <span>Orçamentos</span>
          </a>
        </li>
        <li>
        <a href=<%=produtos_path%>>
            <i class="fa fa-edit"></i>
            <span>Produtos</span>
          </a>
        </li>
        <li>
          <a href=<%=fornecedores_path%>>
            <i class="fa fa-edit"></i>
            <span>Fornecedores</span>
          </a>
        </li>
        <% if current_usuario.admin? %>
          <li>
            <a href=<%=funcionarios_path%>>
              <i class="fa fa-edit"></i>
              <span>Funcionarios</span>
            </a>
          </li> 
        <% end %>
        <li class="header">REGISTRAR PONTO</li> 
        <li>
          <div class="sidebar-form">
            <div class="input-group">
              <input id="chaveiro" type="text" name="Registrar Ponto" class="form-control" placeholder="Chaveiro...">
            </div>
          </div>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
      <%= flash_messages %>
      <%= yield %>
  </div>

</div>

<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versão</b> 1.0
  </div>
  <strong>Copyright &copy; 2015 <a href="http://github.com/AndersonOdilo">Anderson Odilo</a>.</strong> 
</footer>
